/* Bit lower due to fat navbar */
.main-container {
  margin-top: 80px;
}
/* Search bar in navbar */
#search-block-form {
  margin-top: 5px;
}
/* Hover group link */
.front .view-groups .views-field-title a:hover {
  color: #000;
}
/* Blue color */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
table th,
table th a,
table tr .glyphicon {
  color: #eb6864;
}
/* Comments panel for text documents */
.node-type-ol-text-document .field-type-file .panel-body,
.node-type-ol-text-document .notifies,
.node-type-ol-text-document .notifies .panel-body,
.node-type-ol-text-document .notifies .panel-body .panel-default,
.node-type-ol-text-document .field-name-field-shared-loopin-email,
#field-shared-loopin-email-values tr.draggable {
  border: 0;
  background-color: #fff6d5;
  color: #000;
}
/* Comments panel for text documents */
.field-type-file .panel-body,
.notifies,
.notifies .panel-body,
.notifies .panel-body .panel-default,
.field-name-field-shared-loopin-email,
#field-shared-loopin-email-values tr.draggable {
  border: 0;
  background-color: #f5f5f5;
  color: #000;
}
.field-name-field-shared-loopin-email {
  clear: both;
}
